.search-bar {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 55%;
	height: 35%;
	background: #fff;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 0% 0.2%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search-icon-container {
	background: #ff5125;
	color: #fff;
	width: 3%;
	height: 85%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3sease-in-out;
	cursor: pointer;
}

.search-icon {
	background: #ff5125;
	color: #fff;
	width: 60%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3sease -in-out;
	cursor: pointer;
}

.search-icon:hover {
	background: #c5330f;
}

.search-bar input {
	flex: 1;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	padding-left: 10px;
	border-radius: 20px;
}



@media screen and (max-width: 1650px) {
    .search-bar {
        padding: 0% 0.25%;
    }

    .search-icon-container {
        width: 3.5%;
        height: 85%;
        border-radius: 6px;
    }

    .search-bar input {
        font-size: 15px;
        padding-left: 10px;
    }
    
}

@media screen and (max-width: 1024px) {
    .search-bar {
        height: 20%;
        padding: 0% 0.3%;
        border-radius: 6px;
    }

    .search-icon-container {
        width: 4%;
        height: 80%;
        border-radius: 6px;
    }

    .search-bar input {
        font-size: 10px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 800px) {
    .search-bar {
        padding: 0% 0.3%;
    }

    .search-icon-container {
        width: 5%;
    }

    .search-bar input {
        font-size: 7px;
        padding-left: 5px;
    }
    
}