.cs4116-background-dialog {
	left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100% !important;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
}

.MuiDialog-container .MuiDialog-scrollPaper .css-19do60a-MuiDialog-container{
	width: 90% !important;
}

.cs4116-open {
	left: 60%;
	font-size: 14px !important;
	color: black !important;
	border-color: #ff5125 !important;
	background: #ff5125 !important; ;
}

.cs4116-dialog-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 1% 6%;
	background: white;
	border-radius: 0 0 20px 20px !important;
}

.cs4116-dialog-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 12px 12px 0 0 !important;
	align-items: center;
	width: 100% !important;
	padding: 0% 5% !important;
	background: white;
}

.MuiDialog-paper {
	width: 600px !important;
	height: auto !important;
	padding: 20px;
	overflow: hidden;
	border-radius: 20px !important;
	background-color: #7d7d7d !important;
	color: black !important;
}

.cs4116-dialog-content {
	padding: 0px 24px 24px !important;
	border-radius: 0 !important;
	background: white;
	display: flex;
	flex-direction: column;
}

.cs4116-inq-btn {
	text-transform: none !important;
	padding: 10px 30px !important;
	background: #ff5125 !important;
	color: black !important;
	border-radius: 8px !important;
}

.cs4116-report-icon{
	width: 30px !important;
	height: 30px !important;
	text-transform: none !important;
	color: rgb(232, 0, 0) !important;
	border-radius: 8px !important;
	margin-left: 10px !important;
	transition: all 0.3s ease-in-out !important;
	cursor: pointer !important;
}

.cs4116-report-icon:hover{
	color: rgb(198, 2, 2) !important;
}

.cs4116-review-btns{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: flex-end !important; 
}

.cs4116-viewpf-btn {
	text-transform: none !important;
	padding: 10px 25px !important;
	border-radius: 8px !important;
	background: black !important;
	color: white !important;
}

.cs4116-dialog-data {
	margin-left: 3% !important;
	width: auto !important;
}

.cs4116-dialog-form {
	width: 100% !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: flex-end !important;
}

.cs4116-dialog-select {
	font-family: "Urbanist-Bold" !important;
	font-size: 20px !important;
	color: black !important;
	width: 50% !important;
	height: fit-content !important;
}

.cs4116-dialog-input {
	left: 51%  !important;
	padding-top: 20px;
}

.cs4116-dialog-rating {
	margin-top: 10px;
	font-size: 35px !important;
}

.cs4116-business-profile-pic {
	width: 180px;
    height: 180px;
    position: absolute;
    left: 10%;
    top: 8%;
    border-radius: 90px;
}

.cs4116-dialog-body {
	width: 100% !important;
	overflow-y: auto !important;
}

.cs4116-dialog-reviews {
	padding: 15px;
	border-radius: 0px 0px 12px 12px !important;
	margin-top: 5px !important ;
	position: relative !important;
	height: 175px !important;
	background-color: #374544;
	position: fixed;
	max-height: 300px;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.cs4116-dialog-info {
	font-size: 20px !important;
}

.explore.container {
	padding-left: 300px;
	display: flex;
	margin-left: 25%;
	justify-content: space-around;
	align-items: center;
	min-height: 60vh;
	width: 100%;
	box-sizing: border-box;
	flex-direction: column;
	padding-right: 300px;
	padding-top: 0;
}

.cs4116-grid-review {
	display: grid;
	grid-template-columns: repeat(1, minmax(60%, 600px));
	gap: 20px;
	justify-content: center;
	max-width: fit-content;
}

.cs4116-grid-review-item {
	background-color: white;
	border-radius: 8px;
	padding: 12px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cs4116-grid-splitter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cs4116-dialog-text {
	margin: 0 !important;
	font-family: "Urbanist-Regular" !important;
}

.cs4116-dialog-text-container {
	display: flex
}

.cs4116-report-dialog .MuiDialog-paper{
	background: white !important;
}

@media screen and (max-width: 1700px) {
	.explore.container{
		margin-left: 18%;
	}
}

@media screen and (max-width: 650px) {

	.cs4116-dialog-main{
		width: 75%;
	}
	
}