/* Navbar.css */
.navbar {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(4, 9, 30, 0.7);
}

.logo {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ff5125;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
